In [28]:
import pandas as pd

In [29]:
import scipy as sc

In [30]:
MyDF = pd.read_csv('../data/testcsv.csv', sep=',')

In [31]:
MyDF

,Species,Infraorder,Family,Distribution,Body mass male (Kg)
0,Daubentonia_madagascariensis,Chiromyiformes,Daubentoniidae,Madagascar,2.700
1,Allocebus_trichotis,Lemuriformes,Cheirogaleidae,Madagascar,0.100
2,Avahi_laniger,Lemuriformes,Indridae,America,1.030
3,Avahi_occidentalis,Lemuriformes,Indridae,Madagascar,0.814
4,Avahi_unicolor,Lemuriformes,Indridae,America,0.830
5,Cheirogaleus_adipicaudatus,Lemuriformes,Cheirogaleidae,Madagascar,0.200
6,Cheirogaleus_crossleyi,Lemuriformes,Cheirogaleidae,Madagascar,0.400
7,Cheirogaleus_major,Lemuriformes,Cheirogaleidae,Madagascar,0.450
8,Cheirogaleus_medius,Lemuriformes,Cheirogaleidae,Madagascar,0.217

In [32]:
MyDF = pd.DataFrame({
   'col1': ['Var1', 'Var2', 'Var3', 'Var4'],
   'col2': ['Grass', 'Rabbit', 'Fox', 'Wolf'],
   'col3': [1, 2, sc.nan, 4]
})

In [33]:
MyDF

   col1    col2  col3
0  Var1   Grass   1.0
1  Var2  Rabbit   2.0
2  Var3     Fox   NaN
3  Var4    Wolf   4.0

In [34]:
MyDF.head()

   col1    col2  col3
0  Var1   Grass   1.0
1  Var2  Rabbit   2.0
2  Var3     Fox   NaN
3  Var4    Wolf   4.0

In [35]:
MyDF.tail()

   col1    col2  col3
0  Var1   Grass   1.0
1  Var2  Rabbit   2.0
2  Var3     Fox   NaN
3  Var4    Wolf   4.0

In [36]:
MyDF.shape # The dimensions of the dataframe as a (rows, cols) tuple

(4, 3)

In [37]:
len(MyDF) # The number of columns. Equal to df.shape[0]

4

In [38]:
MyDF.columns # array of col names

Index(['col1', 'col2', 'col3'], dtype='object')

In [39]:
MyDF.dtypes # col names and their types

col1     object
col2     object
col3    float64
dtype: object

In [40]:
MyDF.values # Converts the frame to a two-dimensional table

array([['Var1', 'Grass', 1.0],
       ['Var2', 'Rabbit', 2.0],
       ['Var3', 'Fox', nan],
       ['Var4', 'Wolf', 4.0]], dtype=object)

In [42]:
MyDF.describe # Displays descriptive stats for all columns

<bound method NDFrame.describe of    col1    col2  col3
0  Var1   Grass   1.0
1  Var2  Rabbit   2.0
2  Var3     Fox   NaN
3  Var4    Wolf   4.0>